<ion-header class="ion-no-border">
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-icon name="newspaper-outline" color="danger" style="font-size: 2.2rem; margin-left: 15px;"></ion-icon>
    </ion-buttons>

    <ion-title style="font-weight: 800; font-size: 1.4rem;">
      Noticias <span style="color: #eb445a;">Mex</span>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="router.navigate(['/perfil'])">
        <ion-avatar style="width: 35px; height: 35px; border: 2px solid #eb445a;">
          <img [src]="dataService.usuarioLogueado?.foto" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="welcome-header">
    <h2 style="font-weight: 800; margin-top: 10px;">Titulares de hoy</h2>
  </div>

  @for (n of dataService.noticias; track n.id) {
    <ion-card class="noticia-card" (click)="verDetalle(n)">
      <div class="image-container">
        <img [src]="n.img" />
        <div class="badge-autor">{{ n.autor }}</div>
      </div>
      <ion-card-header>
        <ion-card-title>{{ n.titulo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ n.desc | slice:0:100 }}...</p>
        <div class="footer-card">
          <ion-text color="danger">Leer noticia completa</ion-text>
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
  }
</ion-content>